@font-face {
  font-family: ambrielbold_italic;
  src: url('fonts/Ambriel-webfont.eot');
  src: url('fonts/Ambriel-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Ambriel-webfont.woff') format('woff'),
       url('fonts/Ambriel-webfont.ttf') format('truetype'),
       url('fonts/Ambriel-webfont.svg#ambrielbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chunkfiveregular';
  src: url('fonts/chunk-webfont.eot');
  src: url('fonts/chunk-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/chunk-webfont.woff2') format('woff2'),
       url('fonts/chunk-webfont.woff') format('woff'),
       url('fonts/chunk-webfont.ttf') format('truetype'),
       url('fonts/chunk-webfont.svg#chunkfiveregular') format('svg');
  font-weight: normal;
  font-style: normal;
}