@import "reset";
@import "bourbon/bourbon";
//@import "grid-settings";
@import "neat/neat";
@import "font";


/***********************************************************************************************************
                                              Header
************************************************************************************************************/
.name { 
  font-family: ambrielbold_italic, Arial, sans-serif; 
  text-align: center;
  font-size: 2.5em;
  padding: 10px 0px 15px;
}

/***********************************************************************************************************
                                              Menu
************************************************************************************************************/
aside{
  @include outer-container;
  nav{
    @include span-columns(3);
    .window{
      width: 100%;
    }
    .menu{
      text-align: center;
    }
  }
}

/***********************************************************************************************************
                                rightBox: special, mission, protator
************************************************************************************************************/
section{
  @include outer-container;
  .special{
    @include span-columns(9);
    text-align: center;
  }
  .mission{
  @include span-columns(9);
  text-align: center;
  }
  .protator{
    @include span-columns(9);
  }
}

/***********************************************************************************************************
                                            Main Content
************************************************************************************************************/
main{
  clear: both;
  @include outer-container;
  .storerotator{

  }
}


/***********************************************************************************************************
                                              Footer
************************************************************************************************************/
footer{
  @include outer-container;
  }

.leftCol{
  float:left;
}

.rightCol{
  float:right;
}
