@import "reset";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "font";

//$special_color: #cfffcf;
//$special_color: #25AAE1;
$special_color: #f9c1b7;
$vision_color: $special_color;
$mission_color: lighten($special_color, 10%);
$members_color: $special_color;
$contact_color: darken($special_color, 10%);
$events_color: darken($special_color, 15%);
$history_color: lighten($special_color, 15%);
//$special_color: #ffefcc;
$menu_border_color: #3F382E;
$menu_height: 15.1875em;
$purple_font: #5c0e64;
$nav_background: #b2b2b2;
$minig_logo_height: 126px;
$antique_olive_green: #5C6F56;
$antique_burnt_orange: #B7612E;

/***********************************************************************************************************
                                              Body
************************************************************************************************************/
body{
 @include outer-container;
 //background-color: #a8e3f7;
 //background-color: #b7eff9; Blue
 //background-color: #7DD7F5;
 background-color: white;
 opacity: 80%;
}

/***********************************************************************************************************
                                              Header
************************************************************************************************************/
.name {
  font-family: Times, serif; 
  text-align: center;
  font-size: 1.9em;
  padding: 10px 0 0 10px;
  height: $minig_logo_height + 20px;
  margin-top: 20px;
  background-color: $antique_olive_green;
  font-family: chunkfiveregular;
}

.facebook{
  background:transparent url('fbicongray.png') center top no-repeat;
}
.facebook:hover{
  background-image: url('facebookicon.png');
}

header .mining{
  @include span-columns(1.58);
  @include omega;
  background: url(/images/MiningPickHeader.png);
  height: $minig_logo_height;
}

header .logo{
  line-height: $minig_logo_height/2;
  font-size: 2.9em;
  @include span-columns(10.42);
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0.2em;
}

header .sublogo{
  padding-right: 0.2em;
  text-align: right;
  @include span-columns(10.42);
}

/***********************************************************************************************************
                                          Menu    
************************************************************************************************************/
header#page{
  @include outer-container;
}

aside{
  @include span-columns(12);
  nav{
    background-color: $special_color;
    text-align: center;
    font-size: 1.5em; 
    background-color: $nav_background;
    border-color: $menu_border_color;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    /*border-left: #554845 solid 1px;
    border-right: #554845 solid 1px;
    border-bottom: #554845 solid 1px;*/
    margin-top: -3px;
    ul{line-height: 1.5}
    ul li{display: inline;} 
    ul li{padding-left: 20px;
          padding-right: 20px;}
    li a {
      font-family: chunkfiveregular;
      text-decoration: none;
      color: $antique_olive_green;
    }
    a:link {}
    a:visited {}
    a:hover {
      color: $antique_burnt_orange;
    }
    a:active {} 
  }
  @include media($mobile){
      @include span-columns(4);
      margin-left: auto;
      margin-right: auto;
      clear:both;
    }
}

/***********************************************************************************************************
                                            Main Content
************************************************************************************************************/
main{
  clear: both;
  @include outer-container;
  background-color: #f9c1b7;

.flexslider{
  margin-top: 37px;
}
}


h1{
  text-align: center;
  font-size: 2em;
}

p.title{
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 10px;
}
.italic{
  font-style: italic;
}

p.date{
  text-decoration: underline;
  font-weight: bold;
  font-family: Times; 
  font-size: 1.5em;
  margin-left: 275px;
  margin-top: 5px;
}

p.event{
  font-family: Times; 
  font-size: 1.5em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  margin-top: 15px;
}

p.flyer{
  padding-top: 10px;
}

p.lastEvent{
  font-family: Times; 
  font-size: 1.5em;
  margin-left: 275px;
  margin-top: 5px;
  padding-bottom: 25px;
}

/***********************************************************************************************************
                                               Sections
************************************************************************************************************/

section{
  &.page{
    @include span-columns(12);
    min-height:100%;
    background-color: $mission_color;
    .title{
      padding-top: 0.8em;
      font-size: 1.8em;
    }
    .statement{
      padding: 20px 15px 0px 15px;
    }
    padding: 2.4em 0;
    text-align: center;
    @include media($mobile){
      @include span-columns(4);
    }
    @include omega();
    border: 1px solid $antique_burnt_orange;
  }
}

section.vision{
  background-color: $vision_color;
  .video{
    padding: 0.8em;
  }
}

p.vision{
  font-size: 1.3em;
  padding-left: 1.8em;
  padding-right:1.8em;
}

section.mission{
  background-color: $mission_color;
}

p.mission{
  padding-left: 1.8em;
  padding-right: 1.8em;
  font-size: 1.3em;
}

section.members{
  @include outer-container;
  .title{
    padding-top: 10px;
  }
  .board{
    @include span-columns(6);
  }
  .committee{
    @include span-columns(6);
  }
  background-color: $members_color;
}

p.members{
  padding-bottom: 5px;
}

section.events{
  background-color: $events_color;
}

section.contact{
  background-color: $contact_color;
}

section.history{
  background-color: $history_color;
}


footer{
  @include outer-container;
  border-top: black solid 1px;
}

.leftCol{
  @include span-columns(4);
  float:left;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 15px;
  @include media($mobile) {
    @include span-columns(2);
  }
}

.facebook{
  @include span-columns(4);
  @include omega();
  float:right;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 50px;
  width: auto;
  @include media($mobile) {
    @include span-columns(2);
    @include omega();
  }
}
