@import "reset";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "font";

$special_color: #CCC2CD;
$menu_border_color: #3F382E;
$menu_height: 15.1875em;

/***********************************************************************************************************
                                              Body
************************************************************************************************************/
body{
 background-color: tan;
}

/***********************************************************************************************************
                                              Header
************************************************************************************************************/
.name { 
  font-family: ambrielbold_italic, Arial, sans-serif; 
  text-align: center;
  font-size: 2.9em;
  padding: 15px 0px 15px;
}

.facebook{
  background:transparent url('fbicongray.png') center top no-repeat;
}
.facebook:hover{
  background-image: url('facebookicon.png');
}

/***********************************************************************************************************
                                 Menu    rightBox: special, mission, protator, erotator
************************************************************************************************************/
header#page{
  @include outer-container;
}

aside{
  @include span-columns(3);
  nav{
    .window{
      width: 100%;
    }
    .menu{
      background-color: $special_color;
      text-align: center;
      font-size: 1.5em; 
      color: #453833;
      border-color: $menu_border_color;
      border-style: solid;
      border-width: 0px 1px 1px 1px;
      /*border-left: #554845 solid 1px;
      border-right: #554845 solid 1px;
      border-bottom: #554845 solid 1px;*/
      margin-top: -3px;
      ul{line-height: 1.5}
      ul li:first{padding-top: 10px;}
      ul li:last{padding-bottom:10px;}
    }
    a:link {}
    a:visited {}
    a:hover {}
    a:active {} 
  }
  @include media($mobile){
      @include span-columns(4);
      margin-left: auto;
      margin-right: auto;
      clear:both;
    }
}

section{
  &.special{
    @include span-columns(9);
    text-align: center;
    float: right;
    padding-top: 11px;
    margin-top: 37px;

    #full-special{display:block;}
    #mobile-special{display:none;}

    @include media($mobile){
      #full-special{display:none;}
      #mobile-special{display:block;}
      @include span-columns(4);
    }
    @include omega();
  }
  &.mission{
    @include span-columns(9);
    min-height:100%;
    background-color: $special_color;
    .title{
      font-size: 1.8em;
    }
    .statement{
      padding: 20px 15px 0px 15px;
    }
    padding-top: 2em;
    padding-bottom: 4.1em;
    margin-top: 43px;
    text-align: center;
    @include media($mobile){
      @include span-columns(4);
    }
    @include omega();
  }
  &.protator{
    @include span-columns(9);
    @include media($mobile){
      @include span-columns(4);
    }
    @include omega();
  }

&.erotator{
    margin-top: 49px;
    @include span-columns(9);
    width:71%;
    @include media($mobile){
      @include span-columns(4);
    }
    @include omega();
  }
}



/***********************************************************************************************************
                                            Main Content
************************************************************************************************************/
main{
  clear: both;
  @include outer-container;
  .storerotator{}

.flexslider{
  margin-top: 37px;
}


  h1{
  text-align: center;
  font-size: 2em;
  }
  .story{
    margin-top: 25px;
    .title{
      text-align: center;
      font-size: 1.8em;
    }
    .text{
      text-indent: 1.5em;
      padding-top: 10px;
      padding-bottom: 15px;
    }
    padding-left: 10px;
    padding-right: 10px;
  }
  .productlist p {
    font-size: 1.2em;
    text-align: center;
  }
  p.jd{
    padding-top: 18px;
  }
  p.clovercreek{
    padding-top: 18px;
  }
  p.EmeraldValley{
    padding-top: 18px;
  }
  p.sticky{
    padding-top: 18px;
  }
  p.ToffeeHouse{
    padding-top: 18px;
  }
  p.candle{
  padding-top: 18px;
  font-weight: bold;
  text-decoration: underline;
  }
  p.Eric{
    padding-top: 18px;
    font-weight: bold;
    text-decoration: underline;
  }
}

.productlist{
  padding-top: 12px;
  padding-bottom: 25px;
}

p.title{
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 10px;
}
.italic{
  font-style: italic;
}

.month{
  font-family: ambrielbold_italic, Arial, sans-serif; 
  text-align: center;
  font-size: 2.2em; 
}

p.date{
  text-decoration: underline;
  font-weight: bold;
  font-family: Times; 
  font-size: 1.5em;
  margin-left: 275px;
  margin-top: 15px;
}

p.event{
  font-family: Times; 
  font-size: 1.5em;
  margin-left: 275px;
  margin-top: 5px;
}

p.lastEvent{
  font-family: Times; 
  font-size: 1.5em;
  margin-left: 275px;
  margin-top: 5px;
  padding-bottom: 25px;
}



/***********************************************************************************************************
                                              Footer
************************************************************************************************************/
footer{
  @include outer-container;
  border-top: black solid 1px;
}

.leftCol{
  @include span-columns(4);
  float:left;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 15px;
  @include media($mobile) {
    @include span-columns(2);
  }
}

.rightCol{
  @include span-columns(4);
  @include omega();
  float:right;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 15px;
  width: auto;
  @include media($mobile) {
    @include span-columns(2);
    @include omega();
  }
}

.facebook{
  text-align: center;
  padding-top: 10px;
  @include span-columns(4);
  @include media($mobile) {
    * {
      margin:auto;
    }
    @include span-columns(4);
    clear:both;
  }
}

    /*%a{:href => "http://www.facebook.com/centraltheaterwine"}
       %img{:src => "images/facebookicon.png"}*/
