.businesses
  .title
    Our Business Members:
  .names
    %a{:href => "http://centraltheaterwineshoppe.com", :target => "_blank", :title => "Central Theater Wine Shoppe"} Central Theater Wine Shoppe <br>
  .names
    %a{:href => "images/SandysBarberShop.png", :target => "_blank", :title => "Sandy's Barber Shop Beauticians"} Sandy's Barber Shop