.events.title
  Upcoming Events: <br>
.events.italic
  Please join us!
%p.event
  Join us September 19th for the Herminie Car Cruise. Festivities start around 12:00 noon. See the flyer below for more details, including registration information and activities. The 5 bands are Tim Wood, Steve hawk, The Flying Sock Monkeys, The String Theory and Vacancy! Hope to see you there!
  %p.flyer
    %img{:alt => "Herminie Car Cruise", :src => "images/2015carshow-1.png", :width => "325", :height => "420"}








