.events.title
  Upcoming Events: <br>
.events.italic
  Please join us!
%p.event
  On November 16th we will be holding a Women's Holiday Gala at the Crystal Ballroom in Herminie. We are still looking for vendors to attend the event. If you or someone you know is interested, please contact us in the section below or call 724-446-3341.
  %p.flyer
    %img{:alt => "Women's Holiday Gala", :src => "images/HolidayGalaNov14-page-001.jpg", :width => "232", :height => "300"}







