.events.title
  Upcoming Events: <br>
.events.italic
  Please join us!
%p.event
  On November 16th we will be holding a Women's Holiday Gala at the Crystal Ballroom in Herminie. We are still looking for vendors to attend the event. If you or someone you know is interested, please contact us in the section below or call 724-446-3341.
  %p.flyer
    %img{:alt => "Women's Holiday Gala", :src => "images/HolidayGalaNov14-page-001.jpg", :width => "325", :height => "420"}
%p.event
  For four special days, the American Performing Arts Theatre Company will be presenting Funcello's Birthday <br>
  at The Slovenian Crystal Ballroom, 23 Third St. Herminie, Pa. on the lower level. <br>
  There will be table seating, a cash bar, and a light menu available. <br>
  For ticket information, please visit: 
  %a{:href => "http://www.apatheatrecompany.com", :target => "_blank", :title => "Ticket information"} APA Theatre Company <br>
  or email: 
  %a{:href => "mailto:apatc@comcast.net"}apatc@comcast.net <br>
  or call 
  %a{:href => "tel:7245277775"}724-527-7775.
  %p.flyer
    %img{:alt => "Funcello's Birthday", :src => "images/FuncelloFlyer.png", :width => "325", :height => "420"}
%p.event
  Join us Saturday, Decemebr 6th, for the 15th Annual Light-up night. Festivities start around 12:30 at the Herminie Fire Hall. See the flyer below for more details and a complete schedule. 
  %p.flyer
    %img{:alt => "Sewickley Township Light-up Night Flyer", :src => "images/LightUpNight2014.png", :width => "325", :height => "420"}








