%section.history
  .history.picture 
    %a{:href => "http://patheoldminer.rootsweb.ancestry.com/ocean.html"}
      %img{:alt => "Sewickley Ave circa 1947", :src => "images/SewickleyAve1947.png", :width => "530", :height => "270"}/
    %p
      Sewickley Ave circa 1947
  %p.historytext
    The Ocean Mining Company founded the town of Herminie in 1893 when it opened its first mine in this area. The mine and area was originally called the Ocean No. 1 mine but was renamed the Herminie Mine after Herminie Berwind, the wife of Ocean Coal Company president, Charles Berwind. For more deatiled information about the town and the mine, click on the picture!