.members.board
  .title Our Board Members:
  %p.members
    List of members coming soon!
.members.committe
  .title Our Committee Members:
  %p.members
    List of committee members coming soon! <br>
    Please stop back to check it out. 
