%nav
  %img.window{:alt => "vinyard windowscape", :src => "images/windowscape.png"}
  .menu
    %ul
      %li= link_to "Home", "index.html"
      %li= link_to "About Us", "about.html"
      %li= link_to "Products", "products.html"
      %li= link_to "Events", "events.html"