Our Mission:
%p.mission
  The goal of this organization is to enhance the community through support of the local businesses, revitalization and beautification of main street, creation of a pleasant shopping environment for our local families while encouraging the development and preserving the revival and historic character of the community and our residents.