.video
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/kc41uxSbRQ8", :width => "560"}
%p.vision
  We envision a bustling business district along Main Street and Church Street with a variety
  of events to engage our area residents in a safe and fun community atmosphere. 
  Please our video below to see: