---
title: Central Theater
---

%header#page
  %aside
    = partial "menu"

  %section.mission
    %p.title
      Our Mission:
    %p.statement
      Our mission is to provide the highest quality products from the best local vendors. We offer sustainable and healthy products that range from gluten free goods up to organic, raw milk cheeses. More than 90% of our products come from local or family owned small businesses within Pennsylvania. We also aim to support our more local community by providing our store as a venue for local artists to display and sell their work.

%main
  .story
    %p.title
      Our Story
    .text
      %p
        Children often have fond memories of their childhood, whether it’s dancing barefoot in the rain, building igloos in the snow, or catching fireflies in the yard. For Lori Adams, many fond memories come from eating penny candy at her grandparents cheese house in Slippery Rock.
        Lori’s grandmother had to travel to local cheeseries to supply the store and Lori was able to travel along whenever it was possible.
      %p
        Lori’s grandparents came from a family with 17 children so a sense of community was built into her family’s dynamic. Growing up with a small business in the family and the love of small town community, it is no surprise that Lori wishes to bring fond memories to a new generation with her wine and cheese shoppe.
      %p
        The love involved in the shoppe doesn’t stop with Lori’s grandparents. Lori’s business partner is her soon to be husband, Wayne.
      %p
        Lori and Wayne were best friends in high school, and even though Lori harbored a secret crush, it was many years before she was able to make all of her dreams come true. Like any small town dreamers, she left Herminie after high school and spent her adult life following her wanderlust. Eventually Lori returned home, and she jumped into volunteering for local civic matters. While helping with her 40th class reunion, she reunited with Wayne, and the rest, as they say, is history.
      %p
        Lori and Wayne will carry on her grandparent’s tradition of owning a business. She wants to share her joy of wine with the place she rediscovered love in: love of tradition, love of her hometown, and the love for Wayne…
      %p
        They can’t wait to meet you and share their delicious goods with your family!
