---
title: Central Theater
---

%aside
  = partial "menu"
  
  %section
    .mission
      %p.title
        Our Mission:
      %p.statement
        Our mission is to provide the highest quality products from the best local vendors. We offer sustainable and healthy products that range from gluten free goods up to organic, raw milk cheeses. More than 90% of our products come from local or family owned small businesses within Pennsylvania. We also aim to support our more local community by providing our store as a venue for local artists to display and sell their work. 

%main
  .story
    %p.title
      Our Story
    .text
      %p
        This story starts when Lori and Wayne were still in high school many years ago. Even though their relationship carried the title of best friends, she harbored a secret crush on him. He was the first boy Lori invited to the movies. She was not the kind of girl to sit idly by while her passions smoldered in silence—she was a dreamer. So she invited him to the drive in, “The Graduate” was playing, and Lori was willing to risk lying about the plot to her parents just to get into the back seat of the car with him; they weren’t old enough to drive yet and her parents were in the front seat. She fantasized about sneaking a kiss from him but in the end her parents became wise to the adult nature of the films plot, thus stopping Lori’s fairy tale moment from becoming reality.
      %p
        Sadly, it would be many years before Lori would kiss her ‘Prince Charming’. Like any small town dreamers, she left Herminie after high school and spent her adult life following her wanderlust. Eventually Lori returned home to assume her role at the head of her family as she suffered the loss of her mother and the additions of a beautiful granddaughter.
      %p
        In an attempt to reconnect to her past she jumped into volunteer work with local civic matters. One of these opportunities was her 40th class reunion which resulted in a tender reunion between her and Wayne. Wayne asked Lori to dinner and the rest is, as they say, history. Lori finally got the kiss she had been dreaming for since high school. The partnership that  Lori and Wayne formed was inspired to carry on her grandparent’s tradition of owning a business. They decided on a wine and cheese shop—she wanted to share her joy of wine with the place she rediscovered love in: love of tradition, love of her hometown, the love of Wayne...
      %p
        She wanted to keep the love and her grandparent’s heritage in Herminie. That is why she and Wayne decided on opening the Central Theater Wine Shoppe.</pre>
