---
title: Central Theater
---

%header#page
  %aside
    = partial "menu"

  %section.erotator
    .flexslider.carousel
      %ul.slides
        %li
          %img{:src => "images/women2.png"}   
        %li
          %img{:src => "images/women1.png"}/
        %li
          %img{:src => "images/testabstract.jpg"}/            

  


%main
  .month
    September 2014 Events:
  /
    %p.date
      Saturday, June 14
      %p.event
        %a{:href => "files/2014winefestival.pdf", :target => "_blank", :title => "Wine and Food"} Wine and Food Festival <br>
        1-8 p.m. <br>
        %a{:href => "http://www.pawineandfood.com", :target => "_blank", :title => "Wine and Food"} Monroeville Convention Center
    %p.date
      Sunday, June 15
      %p.event
        Father's Day gift basket giveaway
    %p.date
      Saturday, June 21
      %p.event
        Wine Tasting <br>
        6-8 p.m. <br>
        McFeely's Gourmet Chocolate <br>
        202 Fourth St. Irwin, PA
    %p.date
      Thursday, June 26
      %p.lastEvent
        Wine and Paint <br>
        7-9 p.m. <br>
        at the Wine Shoppe <br>
  %p.date
    Once a month basket giveaway:
    %p.event
      With a $10 purchase, you get an entry into our giveaway for that month!
  %p.date
    Saturdays starting July 26 through September 27
    %p.event
      %a{:href => "http://www.dwni.org/", :target => "_blank", :title => "West Newton Farmer's Market In"}West Newton Farmer's Market <br>
      Simeral Square <br>
      10a.m. - 2p.m. <br>
  %p.date
    Thursday, September 25
    %p.event
      Wine and Paint <br>
      $35 includes instruction, materials, and a glass of wine. <br>
      7-9p.m.<br>
      Tickets available at the Shoppe on a first come, first serve basis. <br> 
      (limited seating available)<br>
  %p.date
    
    %p.event

    





    

