---
title: Central Theater
---

%header#page
  %aside
    = partial "menu"

  %section.erotator
    .flexslider.carousel
      %ul.slides
        %li
          %img{:src => "images/women2.png"}   
        %li
          %img{:src => "images/women1.png"}/
        %li
          %img{:src => "images/testabstract.jpg"}/            

  


%main
  .month
    July 2014 Events:
  /
    %p.date
      Saturday, June 14
      %p.event
        %a{:href => "files/2014winefestival.pdf", :target => "_blank", :title => "Wine and Food"} Wine and Food Festival <br>
        1-8 p.m. <br>
        %a{:href => "http://www.pawineandfood.com", :target => "_blank", :title => "Wine and Food"} Monroeville Convention Center
    %p.date
      Sunday, June 15
      %p.event
        Father's Day gift basket giveaway
    %p.date
      Saturday, June 21
      %p.event
        Wine Tasting <br>
        6-8 p.m. <br>
        McFeely's Gourmet Chocolate <br>
        202 Fourth St. Irwin, PA
    %p.date
      Thursday, June 26
      %p.lastEvent
        Wine and Paint <br>
        7-9 p.m. <br>
        at the Wine Shoppe <br>
  %p.date
    July events coming soon!
    %p.event
    





    

