%header#page
  %aside
    = partial "menu"
%main
  %section.page.vision#vision
    = partial "vision"

  %section.page.video
    //insert embedded YouTube video here once completed
  %section.page.mission#mission
    = partial "mission"





