---
title: Central Theater
---
%header#page
  %aside
    = partial "menu"
  %section.special
    %img#full-special{:alt => "Wine of the Month Special", :src => "images/dec13announcement.png" }
    %img#mobile-special{:alt => "Wine of the Month Special", :src => "images/mobilespecial.png" }

%main
  .flexslider
    %ul.slides
      %li
        %img{:src => "images/IMG_0038.JPG"}/
      %li
        %img{:src => "images/IMG_0042.JPG"}/
      %li
        %img{:src => "images/IMG_0048.JPG"}/
      %li
        %img{:src => "images/IMG_0054.JPG"}/
      %li
        %img{:src => "images/IMG_0068.JPG"}/
      %li
        %img{:src => "images/IMG_0077.JPG"}/