---
title: Central Theater
---

%aside
  %nav
    %img.window{:alt => "some_text", :src => "images/windowscape.png"}
    .menu
      %ul
        %li= link_to "About Us", "about.html"
        %li= link_to "Products", "products.html"
  %section
    .special
      %p
        Wine of the Month!

%main
  .storerotator
