---
title: Central Theater
---

%aside
  %nav
    %img.window{:alt => "some_text", :src => "images/windowscape.png"}
    .menu
      %ul
        %li= link_to "Home", "index.html"
        %li= link_to "About Us", "about.html"
  %section
    .protator
      .flexslider
        %ul.slides
          %li
            %img{:src => "images/IMG_0038.JPG"}/
          %li
            %img{:src => "images/IMG_0042.JPG"}/
          %li
            %img{:src => "images/IMG_0048.JPG"}/
          %li
            %img{:src => "images/IMG_0054.JPG"}/
          %li
            %img{:src => "images/IMG_0063.JPG"}/
          %li
            %img{:src => "images/IMG_0068.JPG"}/
          %li
            %img{:src => "images/IMG_0077.JPG"}/
%main
  %h1
    Our Products
  .productlist
