---
title: Central Theater
---

%aside
  %nav
    %img.window{:alt => "some_text", :src => "images/windowscape.png"}
    .menu
      %ul
        %li= link_to "Home", "index.html"
        %li= link_to "About Us", "about.html"
  %section
    .protator
%main
  .productlist