---
title: Central Theater
---

%aside
  = partial "menu"
  
  %section
    .protator
      .flexslider
        %ul.slides
          %li
            %img{:src => "images/giftbasket1.png"}   
          %li
            %img{:src => "images/rasjam.png"}/           
          %li
            %img{:src => "images/winelinup.png"}/
          %li
            %img{:src => "images/pumpjam.png"}/   
          %li
            %img{:src => "images/productshelf.png"}   
  


%main
  %h1
    Our Vendors and Products:
  .productlist
    %p.JD
      %a{:href => "http://www.jndcellars.com/index.html", :title => "J & D Cellars"} J & D Cellars
    %p.title
      Dry wines <br>
    %p.dry
      Cabernet Sauvignon <br>
      Merlot <br>
      Vinter's Red <br>
      Chardonnay <br>
      Pinot Grigio <br>
      Sauvignon Blanc <br>
    %p.title
      Semi <br>
    %p.semi
      Riesling <br>
      Tavola Bianco <br>
    %p.title
      Sweet <br>
    %p.sweet
      Catawba <br>
      Jongria <br>
      Green Apple <br>
      Pomegranate <br>

    %p.clovercreek
      %a{:href => "http://www.clovercreekcheese.com/", :title => "Clover Creek Cheese Cellar"} Clover Creek Cheese Cellar
    %p.title
      Cheeses <br>
    %p.cheese
      Bruschedda <br>
      Pirate Blue <br>
      Tussey Mountain <br>
      Winemakers <br>
      Smoked Galen <br>
      Galen's Good Old <br>
    %p.order
      <span class="italic">We are happy to special order anything you need!</span> <br>

    %p.title
      %a{:href => "https://www.stickyfingersbakeries.com/", :title => "Sticky Fingers Bakeries"} Sticky Fingers Bakeries
    %p
      Scones Mixes <br>
      Muffin Mixes <br>
      Gluten Free Muffin Mixes <br>
      Fruit Spreads <br>

    %p.candle
      Theresa's Candles and Things <br>
    %p
      Soy candles in a variety of scents 

    %p.Eric
      Wood Art by Eric <br>
    %p
      Ask us how this local artist can make your designs to order



